<%= form_for(@event) do |f|%>
  <p>
    <%= f.label :name %> <br/>
    <%#TODO f.text_field%>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %> <br/>
    <%#TODO f.text_area%>
    <%= f.text_area :description, cols: 40, rows:7 %>
  </p>
  <p>
    <%= f.label :location %> <br/>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :price %> <br/>
    <%#TODO f.number_field%>
    <%= f.number_field :price %>
  </p>
  <p>
    <%= f.label :starts_at %><br/>
    <%= f.datetime_select :starts_at %>
  </p>
  <p>
    <%= f.submit %> |
    <%= link_to 'Cancel', events_path %>
  </p>
<% end%>
